[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "HHG"]
	path = HHG
	url = https://github.com/barakbri/hhg
	shallow = true
	registered = true
[submodule "repfdr"]
	path = repfdr
	url = https://github.com/barakbri/repfdr
	shallow = true
	registered = true
